.home-text {
    display: flex;
    justify-content: baseline;
    align-content: center;
}
.img-unique {
    display: flex;
    transition: transform .2s ease-in-out;
    justify-content: center;
}

.img-unique:hover {
    transform: scale(1.1);
}

.img-unique img{
    height: 50vh;
}
