.item-count {
    height: 300px;
    width: 300px;
    align-items: baseline;
}

.count {
    font-size: 2em;
}

.btn-comprar {
    background-color: #BEBFC3;
    border-color: #BEBFC3;
}

.btn-comprar:hover {
    background-color: cadetblue;
}
